{{page-title "Index"}}

<form {{on "submit" this.submit}}>
  <label>
    Github action workflow <br>
    e.g. https://github.com/embroider-build/embroider/actions/runs/6446156999 <br>
    <input id="workflow">
  </label>
</form>

{{outlet}}